---
import { Image } from "astro:assets";
import NotFoundPage from "./404.astro";
import ProfileLayout from "../layouts/ProfileLayout.astro";
import Link from "../components/Link.astro";
import users from "../data/users.json";

const { user } = Astro.props;

export async function getStaticPaths() {
  return users.map((user) => ({
    params: { slug: user.username },
    props: { user },
  }));
}
---

{
  !user?.name ? (
    <NotFoundPage />
  ) : (
    <ProfileLayout userData={user}>
      <div class="profile-container">
        <Image
          alt=""
          class="profile-pic"
          loading="eager"
          src={`/Images/${user.username}.webp`}
          height={160}
          width={160}
        />
        <h1>{user.name}</h1>
        <p>{user.description}</p>

        <ul class="social-icons-container">
          {Object.entries(user.social).map(([platform, url]) => (
            <li>
              <a href={url} target="_blank" rel="noopener noreferrer">
                <Image
                  alt={`${user.name}'s ${platform} account`}
                  class="social-icon"
                  loading="eager"
                  src={`/svg/${platform}.svg`}
                  title={platform.charAt(0).toUpperCase() + platform.slice(1)}
                  height={40}
                  width={40}
                />
              </a>
            </li>
          ))}
        </ul>

        <ul class="links-container">
          {user.links.map((link) => (
            <li>
              <Link href={link.url} label={link.title} target="_blank" />
            </li>
          ))}
        </ul>

        <p class="thanks-message">{`Thanks for scrolling :)`}</p>

        <p class="users-links">{user.name}'s Links</p>

        <div class="link-container">
          <Link href="/" label="ðŸ  Go to Home" />
        </div>
      </div>
    </ProfileLayout>
  )
}
<style>
  .profile-container {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .profile-pic {
    border-radius: 50%;
    object-fit: cover;
  }

  h1 {
    font-size: 2rem;
  }

  .social-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .links-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .social-icon:hover {
    opacity: 0.8;
  }

  .thanks-message {
    margin-top: 16px;
    color: #777;
    font-size: 14px;
  }

  .users-links {
    font-weight: 600;
  }

  .link-container {
    width: 100%;
    max-width: 200px;
  }
</style>
